/**************************************FOR ALL****************************************************************************/

@font-face {
  font-family: 'Muller ExtraBold';
  src: url('fonts/MullerExtraBoldDEMO.eot');
  src: url('fonts/MullerExtraBoldDEMO.eot?#iefix') format('embedded-opentype'),
  url('fonts/MullerExtraBoldDEMO.woff') format('woff'),
  url('fonts/MullerExtraBoldDEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat-ExtraBold.eot');
  src: url('fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('fonts/Montserat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Montserrat Regular';
  font-size: 30px;
  color: #333333;
}

.maxwidth-theme {
    width: 100%;
    max-width: 1240px;
    padding: 0 4%;
    margin: 0 auto;
}
  
.container{
  margin: 117px auto 0 auto;
}

/*********************************************************************************HEADER*******************************************************************************************/

.breadcrumbs__title{
  text-transform: uppercase;
  }
  
.breadcrumbs__item-link{
  text-decoration: none;
}

.breadcrumb-item{
  display: inline-block;
}

.breadcrumbs__item-text{
  color: #0559c2;
}
  
#pagetitle{
  text-transform: uppercase;
  font: 64px "Muller ExtraBold";
  font-weight: 400;
}

.page-top-main{
   margin-bottom: 96px;
   margin-top: 41px;

}


/*********************************************************************************BASKET*******************************************************************************************/

.item-title{
  text-align: left;
  padding-left: 2px;
}

.item-title-text{
  text-decoration: underline;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Montserrat Bold';
  color: #0559c2;
  
}

.item-title-control-icon{
  color: #000;
  text-decoration: none;
}
  
.item-title-control{
  float: right;
  top: 5;
  transition: background .3s;
  cursor: pointer;
  text-align: center;
  /*line-height: 48px;*/
  right: 0;
  font-size: 28px;
  color: #000;
}

 .item-title-control:after{
    content: "";
    float:right;
    height: 36px;
    width: 20px;
    background: url(images/check.svg) 0 8px no-repeat;
    margin: 0 0 0 19px;
         
  }

.basket-items-list-wrapper{
  margin-top: 32px;
}


.basket-items-list-table tbody tr td {
  border-top: 1px solid #e8e9ef;
  border-bottom: 5px solid #e8e9ef;
}

.basket-items-list{
  margin-left: 43px;
  overflow: auto;
}


.basket-items-list-header-text{
    font-weight: 700;
    opacity: 1;
    color: #333333;
    font-family: 'Montserrat Bold';

}
  
.basket-items-list-header-control{
  float: left;
  font-size: 28px;
  cursor: pointer;
}

.basket-items-list-header-control:after{
  content: "";
  float: right;
  height: 36px;
  width: 40px;
  background: url(images/hide_show.svg) 0 8px no-repeat;
  margin: 3px 0 5px 19px;
}
    
.basket-items-list-header{
  background: #e8e9ef;
  opacity: 0.5;
  padding: 49px 0px 50px 50px;
  font-weight: bold;
  border-top: 5px solid rgb(232, 233, 239, 1);
  margin-top: 32px;
  padding-right: 31px;

  }

  .basket-item-group-text{
    font-size: 28px;
    font-family: 'Montserrat Bold';
  }
  
  .basket-item-title{
    padding: 51px 0 44px 0;
    text-align: center;
  }
  
  .fa-angle-down::before{
    color: #f79c28;
  }
  
  .basket-items-list-header-control{
    float: right;
  }
  
  .basket-items-list-table{
    border-collapse:collapse;
    width: 100%;
  }
  
  .basket-items-list-table tbody{
     
      border-bottom: 1px solid #E7E7E7;
  }
  
  .basket-item-wrapper{
    border-top: 1px solid;
    border-bottom: 2px solid;
  }
  
  .basket-item-group{
      margin: 50px 0 38px 0;
  }
  .basket-item-group-text{
     text-transform: uppercase;
      font-weight: 700;
  }

   .basket-item-name{
    padding: 29px 0 30px 5px;
    text-align: left;
    min-width: 358px;
  
  }
  
  .basket-item-quantity{
    text-align: center;
  }
  
  
  .basket-item-price{
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat Bold';
  }

  .basket-item-control{
    text-align: right;
    font-size: 28px;
    color: #333;
  }

  .basket-item-control-icon{
    color: #000;
    text-decoration: none;
  }

  .delete-item:before{
        content: "";
        float:right;
        height: 40px;
        width: 20px;
        background: url(images/check.svg) 0 8px no-repeat;
        margin: 0 0 0 19px;
         
  }

  .delete-item{
    cursor: pointer;
  }


  
  .basket-items-list-item-amount{

    border-radius: 33px;
    box-sizing: border-box;
    background: #dcdee4;
    margin: 0 40px 0;
    font-size: 45px;
    font-family: 'Montserrat Bold';
    cursor: pointer;
    padding: 2px 20px;
    display: inline-flex;
   
  }
  
  .basket-item-amount-filed-block {
      display: inline-block;
      padding: 0 60px;
       
  }
  
  .basket-item-amount-filed-block input[type="text"]{
    border: 0;
    text-align: center;
    width: 20px;
    background: #dcdee4;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Montserrat Regular';    
  }
  
  
  .basket-items-result{
    border-radius: 10px;
    background-color: #fff0e4;
    text-align: right;
    padding: 52px 140px 41px 0;
    color: #333333;
  }
  
  .basket-items-result-text{
    font-weight: 700;
    font-family: 'Montserrat Bold'; 
  }

  .basket-items-result-number{
    font-weight: 700;
    font-family: 'Montserrat Bold';
    font-size: 44px;
    margin-left: 59px;
  }
  
  .added_orders{
    padding: 86px 0 57px 90px;
    box-shadow: 0 15px 60px rgba(35, 44, 49, 0.2);
    border-radius: 10px;
    margin-top: 85px;
    margin-bottom: 40px;
  }
  
  .added_orders_title-text{
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Muller ExtraBold";
    font-size: 40px;
  }
  .added_orders_title-control{
   
    color: #333333;
    font-family: "Muller Extra Bold";
  }

  .added_orders_result{
    font-family: 'Montserrat Bold';
  }
  
  .added_orders_item{
    text-decoration: underline;
  }

  .added_orders_item-link{
    color: #0559c2
  }

  .footer{
    margin-top: 139px;
    background-color: #f4f4f5;
    padding: 200px 0 0 0;
    text-align: left;
  }

  .footer-text{
    font-size: 80px;
    font-family: "Muller ExtraBold";
    text-transform: uppercase;
    font-weight: 400;
       
  }

  .footer-form{
    margin-top: 79px;
    text-align: right;
  }

  .footer-data__wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-personal{
    flex-direction: column;
    display: flex;
  }

  .footer-personal input[type="text"]{
 
    min-width: 496px;
    padding: 36px 53px 30px;
    font-size: 26px;
    text-align: left;
    margin-bottom: 53px;
    border-radius: 10px;
    background-color: #f4fefe;
  }

  .footer-personal input[type="text"]:focus{
    border: 2px solid #21A8AD;
  }

  .footer-address{
    margin-left: 69px;
  }

  .footer-address__input{
    padding: 35px 53px;
    font-size: 26px;
    text-align: left;
    border-radius: 10px;
    background-color: #f4fefe;
    min-height: 341px;
    min-width: 584px;
  }

   .footer-comment{
    margin-left: 89px;
  }

  .footer-comment__input{
    padding: 35px 53px;
    font-size: 26px;
    text-align: left;
    border-radius: 10px;
    background-color: #f4fefe;
    min-height: 341px;
    min-width: 586px;
  }


  .footer-data__wrap{
    margin-bottom: 40px;
  }
  

  .footer__name{
    border: 2px solid #21a8ad;
    background-color: #f4fefe;
  }


  .footer-payments__title{
    font-weight: 700;
    font-family: 'Montserrat Bold';
    margin-bottom: 54px;
    text-align: left;
  }

  .footer-payments__variants{
    display: flex;
  }

  .footer-variant{
    margin-right:100px;
    width: 100%;
  }

  .footer-payments__variants input[type="checkbox"]{
    display: block;
    width: 0;
    line-height: 0;
    visibility: hidden;
    margin: 0;
  }

  .footer-payments__variants input[type="checkbox"]+label:before{
    font-size: 0;
    content: '.';
    display: block;
    height: 46px;
    width: 46px;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
    position:absolute;

  }

  .footer-form input[type="submit"]{
    font-size: 28px;
    border-radius: 51px;
    color: #fff;
    background-image: linear-gradient(-31deg, #ec7554 0%, #e8a44d 100%);
    padding: 44px 78px 37px 78px;
    text-transform: uppercase;
    border: 0px;

  }

  input#licenses_popup{
    display: block;
    width: 0;
    line-height: 0;
    visibility: hidden;
    margin: 0;
  }

  input#licenses_popup+label:before{
    font-size: 0;
    content: '.';
    display: block;
    height: 16px;
    width: 25px;
    z-index: 2;
    background: #fff;
    border-radius: 10px;
    position:absolute;

  }



  .licence_block {
    text-align: left;
  }

  




    .footer-address{
      margin: 0 auto 53px;
    }

    .footer-address__input{
      min-width: 296px;
    }

    .footer-comment{
      margin: 0 auto;
    }

    .footer-comment__input{
      min-width: 646px;
    }

}


 /* For phones*/
  @media (max-width: 320px) {

     body{
      font-size: 20px;
    } 

   
    #pagetitle{
      font-size: 46px;
    }


    .footer {
      padding-left: 0px;
    }

    .footer-text{
      font-size: 40px;
    }

    .footer-data__wrap{
      flex-direction: column;
    }

    .footer-personal input[type="text"]{
      min-width: 296px;
      margin-left: auto;
      margin-right: auto;
      padding: 26px 4px 20px;

    }
  }


 /* For 1024 px*/
  @media (max-width: 1024px) {


    
  }


 /* For 1024 px*/
  @media (max-width: 768px) {


    
  }

   /* For 530 px*/
  @media (max-width: 530px) {


    
  }


  

   
  
  
  
  
  
  
  
  